/* ------------ HEADER -----------*/
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #226CE0;

}

nav {
    display: flex;
    justify-content: end;
    
}

nav a:hover {
    color:#73FBD3;
    transform: scale(1.5);
}

nav a {
    text-align: center;
    color:black;
    text-decoration: none;
    padding: 35px;
    color: white;
    font-family: 'Alegreya', serif;
    font-size: 1.5rem;
}

.logo {
    width: 80px;
    border-radius: 15px;
}

#logo_link {
    padding: 5px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

/* ------------------------------ BODY -----------------------------------*/

.main-section {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
/* ------------ 1st Section -----------*/

.first-section {
    background-color: #1B1725;
    color: white;
    margin-top: 30px;
    grid-column: 1/9;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(16, 1fr);
    height: 100vh;
    align-content: center;
    justify-content: center;
}

#portfolio-section-one {
    height: 75vh;
    width: 100%;
    background-color: #1B1725;
    color: white;
    margin-top: 30px;
    display: flex;
    align-items: center;
    align-content:center;
    justify-content:space-around;
    justify-items: center;
    font-size: 1.2rem;
    font-family: 'Alegreya', serif;
}

#portfolio-section-one p {
    max-width: 40%;
}

#portfolio-section-one a  {
    height: 90%;
    padding: 10px;
    display: flex;
    align-items: center;
}

#todo-app {
    padding: 10px;
    border-radius: 20px;
    height: 60%;
}

#portfolio-section-one video:hover {
    transform: scale(1.1);
}


h1 {
    grid-column: 1/7;
    grid-row: 2/4;
    text-align: center;
    font-size: 5rem;
    font-family: 'Questrial', sans-serif;
}

h3 {
    grid-column: 1/7;
    grid-row: 5/8;
    text-align: center;
    font-size: 2rem;
    font-family: 'Questrial', sans-serif;
}

.first-section p {
    grid-column: 2/6;
    grid-row: 8/14;
    text-align: center;
    max-width: 100%;
    height: 100%;
    font-size: 1.2rem;
    font-family: 'Alegreya', serif;
}


.portrait-and-box-container {
    grid-column: 7/12;
    grid-row: 3/15;
    display: grid;
    max-width: 100%;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr)
    
    
}

#portrait-container {
    grid-row: 1/5;
    grid-column: 1/5;
    max-width: 100%;
    z-index: 2;
}

#portrait {
    max-width: 100%;
    object-fit: cover;
    z-index: 2;
    border-radius: 20px;
}

.empty-box {
    border: 2px solid white;
    max-width: 100%;
    grid-column: 2/6;
    grid-row: 3/7;
    z-index: 1;
    border-radius: 20px;
}

/* ------------ 2nd Section -----------*/

#portfolio-section-two {
    height: 75vh;
    width: 100%;
    background-color: #A499B3;
    color: black;
    margin-top: 30px;
    display: flex;
    align-items: center;
    align-content:space-around;
    justify-content:space-around;
    justify-items: center;
    font-size: 1.2rem;
    font-family: 'Alegreya', serif;
}

#portfolio-section-two p {
    max-width: 40%;
}

#portfolio-section-two video {
    padding: 10px;
    height: 60%;
    border-radius: 20px;
}

#portfolio-section-two a  {
    height: 90%;
    padding: 10px;
    display: flex;
    align-items: center;
}

#Mama-Lyss {
    padding: 10px;
    border-radius: 20px;
    height: 60%;
}



.second-section {
    background-color: #A499B3;
    color: white;
    margin-top: 30px;
    grid-column: 1/9;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(14, 1fr);
    height: 75vh;
    align-content: center;
    justify-content: center;
    
}

#family-photo-img-container {
    grid-row: 2/5;
    grid-column: 2/7;
    max-width: 100%;
}

#family-photo-img-container img {
    max-width: 100%;
    border-radius: 50px;

}

#text-box {
    grid-row: 5/9;
    grid-column: 9/12;
    max-width: 100%;
    
}

#text-box p {
line-height: 2.1rem;
}

#top-line {
    height: 0px;
    grid-row-start: 2;
    grid-column: 9/12;
    max-width: 100%;
    border: 2px solid white;
}

#bottom-line {
    height: 0px;
    grid-row-start: 14;
    grid-column: 9/12;
    max-width: 100%;
    border: 2px solid white;
}



/* ------------ 3rd Section -----------*/

#portfolio-section-three {
    height: 75vh;
    width: 100%;
    background-color: #1B1725;
    color: white;
    margin-top: 30px;
    display: flex;
    align-items: center;
    align-content:space-around;
    justify-content:space-around;
    justify-items: center;
    font-size: 1.2rem;
    font-family: 'Alegreya', serif;
}

#portfolio-section-three p {
    max-width: 40%;
}

#portfolio-section-three video {
    padding: 10px;
    height: 60%;
    border-radius: 20px;
}

#portfolio-section-three a  {
    height: 90%;
    padding: 10px;
    display: flex;
    align-items: center;
}

#tea-cozy {
    padding: 10px;
    border-radius: 20px;
    height: 60%;
}



.technologies-section {
    background-color: black;
    color: white;
    grid-column: 1/9;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 60%;
    align-content: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 0px;
}

#technologies {
    text-align: center;
    grid-column: 5/9;
    font-size: 5rem;
}

#icon-container {
    grid-row: 2/4;
    grid-column: 1/13;
    text-align: center;
    
}

#icon-container img {
   margin: 1% 4% 1% 4%;
   z-index: 4;
   height:100px;
   
}

#github {
    border-radius: 20px;
}

#icon-container img:hover {
    transform: scale(1.5);
}




/* ------------ FOOTER -----------*/
footer {
    background-color: #4A8FE7;
    padding: 50px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

footer h3 {
    color: black;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    color: black;
    
}

footer h3 a:hover {
    text-decoration: underline;
}

footer img {
    padding: 10px;
    max-height: 70px;
}

/* #angel-img {
    border-radius: 10px;
} */

footer img:hover {
    transform: scale(1.5);
}


